main {
  display: inline-flex;
  justify-content: space-around;
}

#character1 {
  margin-top: 220px;
}
#character2 {
  margin-top: 125px;
}
#character3 {
  margin-top: 50px;
}
#character4 {
  margin-top: 125px;
}
#character5 {
  margin-top: 220px;
}
