* {
  color: black;
}

header {
  width: 100%;
  height: 125px;
  background-color: grey;
}

footer {
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: grey;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  text-align: center;
  display: inline-block;
  margin: 10px 30px;
}

main  {
  background-color: green;
  width: 100%;
  height: 600px;
}

#arg {
  display: block;
  margin: auto;
  position: relative;
  top: 10%;
  left: 10%;

}
